body,
html {
  height: 100vh;
  margin: 0;
}
:root {
  --animate-duration: 1.5s;
  font-family: "Montserrat", sans-serif;
  overflow-x:hidden ;
}
#part1 {
  height: 300vh;
  background-image: linear-gradient(
    to right,
    #ecd9ec,
    #e6b5dd,
    #e48ec8,
    #e263ad,
    #de238d
  );
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}
#gif-container1 {
  display: flex;
  justify-content: center;
  /* height: 40vh; */
}
#gif-container2 {
  display: flex;
  justify-content: end;
  /* height: 95vh; */
}
#img1 {
  height: 95px;
}
#img2 {
  height: 95px;
}
#p1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 14vh;
  margin-left: 7vw;
  margin-right: 7vw;
  font-size: 20px;
}
#p2 {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1vh;
  margin-left: 7vw;
  margin-right: 7vw;
  font-size: 15px;
}
#p3 {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 14vh;
  margin-left: 7vw;
  margin-right: 7vw;
  font-size: 20px;
}
#yey {
  display: none;
  justify-content: center;
  align-items: center;
}
#img3 {
  height: 200px;
}
.text1 {
  margin-bottom: 0;
  color: #12343b;
  text-align: center;
}
.tm1 {
  margin-top: 50px;
}
.button {
  border-radius: 7px;
  font-size: 20px;
  border: none;
  color: rgb(250, 249, 249);
  background-color: rgba(19, 18, 18, 0.329);
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 3vh;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.button:active {
  background-color: rgba(175, 36, 36, 0.329);
  transition: 0.1s ease-in-out;
  cursor: pointer;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
}
#nope:active{
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 75px;
}
